<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Link to the stylesheet -->
</head>
<body>
    <h1>Welcome to the Homepage</h1>
    <div>
        <a href="/one_to_ten">
            <button>One To Ten</button>
        </a>
        <a href="/bewerbung">
            <button>Spontanes Bewerbungsgespr&auml;ch</button>
        </a>
        <a href="/gericht">
            <button>Sponante Gerichtsverhandlung</button>
        </a>
        <a href="/">
            <button>Coming soon...</button>
        </a>
    </div>
</body>
</html>